/**
 * button style
 */
/* Button */
.buttons {
	margin:5px;
}

/* button or button link style */
button, .button,td.actions a,.buttons a,.t-beaneditor-submit,input[type="button"],input[type="submit"],#submit
{
	margin: 0px;
	padding: 1px 8px;
	text-decoration: none;
	color: #105CB6;
	border-width: 2px;
	border-style: solid;
	border-color: #EEE #999 #999 #EEE;
	background-color: #32CD32;
	border-radius: 20px;
}
/* button hover or focus style */
button:focus,button:hover,.buttons a:hover,td.actions a:hover,td.actions a:focus,.buttons a:focus,.button:hover,.button:focus,input[type='button']:hover,input[type='button']:focus,input[type='submit']:hover,input[type='submit']:focus,#submit:hover,#submit:focus,.t-beaneditor-submit:hover,.t-beaneditor-submit:focus
{
	border-color: #999 #EEE #EEE #999;
	background-color: pink;
}
