/*
 * default html element style
 * html.css
 * @author: Korben Zhang
 */
* {
	margin: 0px;
	padding: 0px;
	font-size: 1em;
}
html,body {
	font-family: sans-serif, serif, monospace, cursive, fantasy;
	background-color: white;
}
h1,h2,h3,h4,h5,h6 {
	text-transform: capitalize;
	font-weight: bold;
	margin: 2px 0px;
	line-height: 1.5em;
}
h1 {
	padding: 2px 0px;
	color: #000080;
	font-size: 2em;
}
h2 {
	padding: 2px 4px;
	color: #0000FF;
	font-size: 1.8em;
}
h3 {
	padding: 2px 8px;
	color: #0080C0;
	font-size: 1.6em;
}
h4 {
	padding: 2px 12px;
	font-size: 1.4em;
	color: #0080FF;
}
h5 {
	padding: 2px 16px;
	font-size: 1.2em;
	color: #8080FF;
}
h6 {
	padding: 2px 20px;
	color: #8080C0;
}
a {
	font-size: 1em;
	display: inline-block;
	padding: 0px 3px;
}
a:link {
	color: blue;
	text-decoration: none;
}
a:visited {
	color: #800040;
	text-decoration: none;
}
a:active {
	color: green;
	text-decoration: underline;
}
a:hover,a:focus {
	color: red;
	text-decoration: underline;
	background-color: #99FF99;
}
form {
	margin: 3px;
	padding: 3px;
}
/* no border */
.checkbox,.radio,.img,img,radio,input.checkbox,input.radio {
	border: none;
}
input[type="text"],input[type="password"],textarea,select {
	padding: 1px, 5px;
	border:solid 2px silver;
}

input:focus,textarea:focus {
	background: #D2D9F0;
}

input[type="text"],input[type="password"]{
	padding: 1px 10px;
}


dl {
	margin: 10px;
}
-dl -dt {
	display: inline;
	float: left;
	padding-right: 3px;
	text-align: right;
	vertical-align: middle;
	width: 400px;
	height: 20px;
	color: green;
	font-weight: bold;
	margin-right: 10px;
}
-dl -dd {
	-webkit-margin-start: 40px;
	height: 20px;
	display: block;
}
dl dt:after {
	content: ':';
}
ul {
	margin-left: 20px;
}
li {
	margin: 2px 4px;
}
label {
	font-weight: bold;
	color: green;
	white-space: nowrap;
	margin-right: 3px;
}
/* -------------Table-------------------- */
table{
	margin: 5px;
	/*  border: 2px ridge gray;*/
	/*border-collapse:separate;*/
	/*  border-collapse:collapse;*/
	border-spacing: 0px;
	/*border-spacing:expression(this.cellSpacing=2); */
	*border-collapse: collapse; /* IE7 and lower */
}
th,td {
	/*  border: 1px dotted gray;*/
	padding: 5px;
	/*  vertical-align:middle;*/
}
th {
	vertical-align: middle;
	text-align: center;
	/*  padding:5px;*/
}
th:first-child {
	border-radius: 5px 0 0 0;
}
th:last-child {
	border-radius: 0 5px 0 0;
}
tr:last-child td:first-child {
	border-radius: 0 0 0 5px;
}
tr:last-child td:last-child {
	border-radius: 0 0 0 5px;
}
td {
	/*	text-align: right;	*/
}
tr:hover {
	/*  background: lime;*/
}
p {
	line-height: 1.5em;
}

hr {
	
}
